<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dwstoragecampmar;AccountKey=AfP0ADfyMARIpebesn+LbBDAX78ZNMObKONzfzs/OF9ka1LS5+zoJHOW43+P9fNCyDySq0eIpIoCNOWBlK7l9A==;EndpointSuffix=core.windows.net" />
</appSettings>
</configuration>